body{
    margin: 0;
}
.header{
    text-align: right;
}
.menu{
    margin-left: 2%;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.introduce-section{
    background-repeat: no-repeat;
    background-image: url(./images/top-banner.png);
    border-radius: 40px ;
}
.about-section{
    background-repeat: no-repeat;
    background-image: url(Images/dream-bg.png);
    border-radius: 40px;
    background-position: right;
}
.half-width{
    width: 42%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    padding-top: 60px;
}
h1{
    font-size: 40px;
}
.name{
    color: crimson;
    font-family: 'Redressed', cursive;
}
.short-pragraph{
    font-family: 'Noto Serif', serif;
    color: hsl(345, 86%, 20%);
    font-weight: 700px;
    text-shadow: 3px 3px 8px steelblue;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(120deg, rgb(253, 80, 11), tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #0f0c0e;
    font-weight: bold;
    box-shadow: 4px 4px 6px rgb(34, 34, 27);
}
.half-width{
    width: 42%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    padding-top: 50px;
}
.half-width img{
    width: 100%;
}
.current-project-section{
    background-repeat: no-repeat;
    background-color: rgb(194, 187, 187);

}
.headings{
    text-align: center;
}
.box-making{        
    width: 25%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    padding-top: 5px;
}
.box-making-sub{
    box-shadow: 10px 10px 15px rgb(19, 19, 14);
    border-radius: 10px;
    height: 60%
    float: left;
    border-left: 7px solid;
}
.project-title{

}
